<ion-view title="Network Info" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item3" class="  ">Type: {{ type }}</ion-item>
            <ion-item id="page-list-item1" class="  ">On: {{ isOnline }}</ion-item>
            <ion-item id="page-list-item2" class="  ">Off: {{ isOffline }}</ion-item>
            <ion-item id="page-list-item2" class="  ">Network State: {{ netState }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>