<ion-view title="Device" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="device-list1" class=" ">
            <ion-item id="device-list-item4" class="  ">{{ device }}</ion-item> 
            <ion-item id="device-list-item5" class="  ">{{ cordova }}</ion-item>
            <ion-item id="device-list-item6" class="  ">{{ model }}</ion-item>
            <ion-item id="device-list-item7" class="  ">{{ platform }}</ion-item>
            <ion-item id="device-list-item8" class="  ">{{ uuid }}</ion-item>
            <ion-item id="device-list-item9" class="  ">{{ version }}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>