<ion-view title="Page" id="page1">
    <ion-content padding="true" class="has-header">
        <ion-list id="page-list1">
            <ion-item id="page-list-item1">Item: {{ item1 }}</ion-item>
            <ion-item id="page-list-item2">Item: {{ item2 }}</ion-item>
            <ion-item id="page-list-item3">Item: {{ item3 }}</ion-item>
            <ion-item id="page-list-item4">Item: {{ item4 }} </ion-item>
            <ion-item id="page-list-item5">Item: {{ item5 }}</ion-item>
            <ion-item id="page-list-item6">Item: {{ item6 }}</ion-item>
        </ion-list>
        <button id="page-button1" class=" button button-positive  button-block " ng-click="infoDevice()" >Device</button>
        <button id="page-button2" class=" button button-positive  button-block " ng-click="infoNetwork()" >Network</button>
        <button id="page-button3" class=" button button-positive  button-block " ng-click="infoMotion()" >Motion</button>
        <button id="page-button4" class=" button button-positive  button-block " ng-click="infoOrientation()" >Orientation</button>
    </ion-content>
</ion-view>