<label>
    User:
</label>

<input type="text" placeholder="Id" [(ngModel)]="id">
<input type="text" placeholder="Name" [(ngModel)]="firstname">
<input type="text" placeholder="Type" [(ngModel)]="lastname">
<input type="text" placeholder="Price" [(ngModel)]="phone">
<input type="text" placeholder="Quantity" [(ngModel)]="password">
<input type="text" placeholder="Quantity" [(ngModel)]="email">

<h1>{{ id }}</h1>
<h1>{{ firstname }}</h1>
<h1>{{ lastname }}</h1>
<h1>{{ phone }}</h1>
<h1>{{ password }}</h1>
<h1>{{ email }}</h1>