<ion-view title="Device Motion" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <button id="page-button1" class=" button button-positive  button-block " ng-click="getCurrentDeviceMotion()">Show Device Motion Info</button>
        <ion-list id="page-list1" class=" ">
            <ion-item id="page-list-item1" class="  ">X: {{x}}</ion-item>
            <ion-item id="page-list-item2" class="  ">Y: {{y}}</ion-item>
            <ion-item id="page-list-item3" class="  ">Z: {{z}}</ion-item>
            <ion-item id="page-list-item3" class="  ">TimeStamp: {{timeStamp}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>