<ion-view title="Main" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="page1" id="main-button4" class=" button button-light  button-block ">Page1</a>
        <a ui-sref="page2" id="main-button5" class=" button button-light  button-block ">Page2</a>
        <a ui-sref="page3" id="main-button6" class=" button button-light  button-block ">Page3</a>
        <a ui-sref="page4" id="main-button7" class=" button button-light  button-block ">Page4</a>
        <a ui-sref="page5" id="main-button8" class=" button button-light  button-block ">Page5</a>
    </ion-content>
</ion-view>