<ion-view title="Login" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page5-form4" class="list ">
            
                <label class="item item-input " id="page5-input3">
                    <span class="input-label" >email</span>
                    <input type="email" ng-model="email">
                </label>

                <label class="item item-input " id="page5-input4">
                    <span class="input-label">password</span>
                    <input type="password" ng-model="password">
                </label>

                <button id="page5-button1" ui-sref="page6" ng-click="clickFunction(email, password)" class=" button button-positive  button-block ">Login</button>
                
        </form>
        
    </ion-content>
</ion-view>